* {
    margin: 0;
    padding: 0;
}

body {
    width: 90%;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(Transport-Aircraftl-1900x1200.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#tablessec {
    align-items: center;
    justify-content: center;
}

.table1 {
    align-items: center;
    justify-content: center;
    align-content: center;
    /* border: solid black 1px; */
    transform: translate(-50%,0%);
}

.table1 table {
    border: solid skyblue 1px;
}

th {
    background: chartreuse;
    font-size: 26px;
}

table:hover {
    transform: scale(1.5);
    transition: 1s;
    background: crimson;
    color: darkgreen;
}


#list {
    display: flex;
    margin-top: 10px;
}
.list1, .list2 {
    padding: 10px;
}

form {
    padding: 10px;
}

.formular {
    display: block;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin-bottom: 2px;
}

a {
    text-decoration: none;
    color: black;
    padding: 5px;
}